<?xml version="1.0"?>
<config>
    <modules>
        <Magenifest_RewriteRules>
            <version>0.1.0</version>
        </Magenifest_RewriteRules>
    </modules>
    <global>
        <models>
            <magenifest_rewriterules>
                <class>Magenifest_RewriteRules_Model</class>
                <resourceModel>magenifest_rewriterules_resource</resourceModel>
            </magenifest_rewriterules>
            <magenifest_rewriterules_resource>
                <class>Magenifest_RewriteRules_Model_Resource</class>
            </magenifest_rewriterules_resource>
        </models>
        <blocks>
            <magenifest_rewriterules>
                <class>Magenifest_RewriteRules_Block</class>
            </magenifest_rewriterules>
        </blocks>
        <helpers>
            <magenifest_rewriterules>
                <class>Magenifest_RewriteRules_Helper</class>
            </magenifest_rewriterules>
        </helpers>
        <resources>
            <magenifest_rewriterules_setup>
                <setup>
                    <module>Magenifest_RewriteRules</module>
                </setup>
            </magenifest_rewriterules_setup>
        </resources>
        <events>
            <controller_front_init_before>
                <observers>
                    <magenifest_rewriterules_redirect>
                        <type>singleton</type>
                        <class>magenifest_rewriterules/observers_initRouter</class>
                        <method>handle</method>
                    </magenifest_rewriterules_redirect>
                </observers>
            </controller_front_init_before>
        </events>
    </global>
</config>